<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate_samples</property>
        <property name="connection.username">stand</property>
        <property name="connection.password">stand</property>


        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

<!-- If using Hibernate, add to your hibernate.cfg.xml -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>



        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <mapping class="com.kkey.entity.EntityObjectSub" />
        <mapping class="com.kkey.entity.EntityObjectSubSub" />
    </session-factory>

</hibernate-configuration>